bitsandbytes
accelerate
text-generation
transformers
langchainhub
sentencepiece
unstructured
tiktoken
pinecone-client
pypdf
openai
langchain
python-dotenv
langchain-community
fastapi
uvicorn
nest-asyncio
pyngrok
torch
PyPDF2
wandb
huggingface_hub
weave
python-multipart
pandas
